$is-il-minus-25: #a30262;
$is-il-minus-20: #b55690;
$is-il-minus-15: #d162a4;
$is-il-minus-10: #e4e4dc;
$is-il-minus-5: #ff9a56;
$is-il-minus-0: #ef7627;
$is-il-bis: #d52d00;

table.gear-table.is-lesbian {
  .is-il-minus-25 {
    background-color: $is-il-minus-25;
    color: #fff;
  }
  .is-il-minus-20 {
    background-color: $is-il-minus-20;
    color: rgba(#000, 0.7);
  }
  .is-il-minus-15 {
    background-color: $is-il-minus-15;
    color: rgba(#000, 0.7);
  }
  .is-il-minus-10 {
    background-color: $is-il-minus-10;
    color: rgba(#000, 0.7);
  }
  .is-il-minus-5 {
    background-color: $is-il-minus-5;
    color: rgba(#000, 0.7);
  }
  .is-il-minus-0 {
    background-color: $is-il-minus-0;
    color: rgba(#000, 0.7);
  }
  .is-il-bis {
    background-color: $is-il-bis;
    color: #fff;
  }
}
