$is-il-minus-25: #2a2c32;
$is-il-minus-20: #5B4375;
$is-il-minus-15: #8c5ab8;
$is-il-minus-10: #B89FCA;
$is-il-minus-5: #e4e4dc;
$is-il-minus-0: #EEDB76;
$is-il-bis: #f8d210;

table.gear-table.is-nb {
  .is-il-minus-25 {
    background-color: $is-il-minus-25;
    color: #fff;
  }
  .is-il-minus-20 {
    background-color: $is-il-minus-20;
    color: #fff;
  }
  .is-il-minus-15 {
    background-color: $is-il-minus-15;
    color: #fff;
  }
  .is-il-minus-10 {
    background-color: $is-il-minus-10;
    color: rgba(#000, 0.7);
  }
  .is-il-minus-5 {
    background-color: $is-il-minus-5;
    color: rgba(#000, 0.7);
  }
  .is-il-minus-0 {
    background-color: $is-il-minus-0;
    color: rgba(#000, 0.7);
  }
  .is-il-bis {
    background-color: $is-il-bis;
    color: rgba(#000, 0.7);
  }
}
