$is-il-minus-25: #611f79;
$is-il-minus-20: #70338e;
$is-il-minus-15: #7e47a3;
$is-il-minus-10: #8c5ab8;
$is-il-minus-5: #9a6ecd;
$is-il-minus-0: #a883e0;
$is-il-bis: #b29be9;

table.gear-table.is-purple {
  .is-il-minus-25 {
    background-color: $is-il-minus-25;
    color: #fff;
  }
  .is-il-minus-20 {
    background-color: $is-il-minus-20;
    color: #fff;
  }
  .is-il-minus-15 {
    background-color: $is-il-minus-15;
    color: #fff;
  }
  .is-il-minus-10 {
    background-color: $is-il-minus-10;
    color: #fff;
  }
  .is-il-minus-5 {
    background-color: $is-il-minus-5;
    color: #fff;
  }
  .is-il-minus-0 {
    background-color: $is-il-minus-0;
    color: #fff;
  }
  .is-il-bis {
    background-color: $is-il-bis;
    color: #fff;
  }
}
