$is-il-minus-25: #7c0000;
$is-il-minus-20: #7c0000;
$is-il-minus-15: #E69F00;
$is-il-minus-10: #7c0000;
$is-il-minus-5: #7c0000;
$is-il-minus-0: #7c0000;
$is-il-bis: #163832;

table.gear-table.is-traffic {
  .is-il-minus-25 {
    background-color: $is-il-minus-25;
    color: #fff;
  }
  .is-il-minus-20 {
    background-color: $is-il-minus-20;
    color: #fff;
  }
  .is-il-minus-15 {
    background-color: $is-il-minus-15;
    color: rgba(#000, 0.7);
  }
  .is-il-minus-10 {
    background-color: $is-il-minus-10;
    color: #fff;
  }
  .is-il-minus-5 {
    background-color: $is-il-minus-5;
    color: #fff;
  }
  .is-il-minus-0 {
    background-color: $is-il-minus-0;
    color: #fff;
  }
  .is-il-bis {
    background-color: $is-il-bis;
    color: #fff;
  }
}
