// Testing out some colormind palettes
$shade-light: #F3F3EC;
$accent-light: #529580;
$main-colour: #5d98c4;
$accent-dark: #935E94;
$shade-dark: #2E53A5;

$accent-red: #c14762;
$accent-blue: #346CC3;
$accent-green: #4E9381;

$black: hsl(225, 8%, 10%);
$black-bis: hsl(225, 8%, 14%);
$black-ter: hsl(225, 8%, 18%);
$white-ter: hsl(60, 13%, 84%);
$white-bis: hsl(60, 13%, 88%);
$white: hsl(60, 13%, 92%);

// Table colours
$il-out-of-range:  $black;
